.DS_Store
node_modules
dist
dev-dist
build
types
.idea
.github
package-lock.json

# The directory 'pwa-deployed-versions' keeps track of PWA cache versions 
#   for URLs deployed from this repository.
#   Only the 'newspeaklanguage.org.version' (the PWA version for newspeaklanguage.org) 
#   is kept in git.
#   Any other version files, for example 'localhost.version', should not be committed.
!pwa-deployed-versions
pwa-deployed-versions/*
!pwa-deployed-versions/newspeaklanguage.org.version

# The directory 'out' is ignored
/out/
